@import "../utils/variables.scss";

.banner {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-200;
  &__shape {
    z-index: -1;
    position: absolute;
    bottom: 0;
    border-radius: 98px 98px 0 0;
    background-color: $color-white;
    height: 10rem;
    width: 100%;
    padding: $padding-default;
  }
  &__illustration {
    margin: $padding-default;
    height: 250px;
    width: 50%;
    object-fit: cover;
    padding-top: $padding-default;
  }
}
