@import "../utils/variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: $width-max-page;
  width: 100%;
  padding: $padding-default;
  gap: 3rem;
}
.title {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  &__logo {
    align-self: flex-start;
  }
  &__name {
    font-size: 1rem;
    font-weight: 400;
    color: $color-main;
    align-self: flex-end;
  }
}
