@import "./variables.scss";

@mixin btn-default {
  border: 2px solid $color-main;
  border-radius: 1.25rem;
  padding: 0.6rem;
  font-weight: 500;
  color: $color-main;
  transition: all 0.3s;
  &:hover {
    color: $color-highlight;
    border-color: $color-highlight;
  }
}

@mixin btn-full {
  background-color: $color-main;
  color: $color-white;
  &:hover {
    background-color: $color-highlight;
    color: $color-white;
  }
}
