/* Colors */
$color-main: #659c8c;
$color-highlight: #ee6c4d;
$color-white: #fafefc;
$color-100: #dcebe6;
$color-200: #b8d7cc;
$color-300: #4b8172;
$color-400: #3a675c;
$color-500: #12211e;
$color-bg: #bbd7cc;

/* Margins */
$padding-default: 1.5rem;

/* Widths & Heights */
$width-max-page: 1500px;
